#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  h1{
    font-size: 50px;
  }
}

.christmas{
  max-width: 650px;
  width: 100%;
  position: relative;
}

.socials-btn{
  position: fixed;
  bottom: 10%;
  left: 10%;
}

.train{
  width: 100%;
}

.street{
  width: 100%;
}

.sink{
  width: 100%;
}

.transition{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(255,255,255,1) 100%);
  height: 500px;
  width: 100%;
}

.horns{
  width: 100%;
}

.mira{
  width: 100%;
}

.jasper{
  width: 100%;
}

.falling{
  width: 100%;
}

.shy{
  width: 100%;
}


