#root {
  margin: 0 auto;
  padding: 2rem;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  
}

.container {
  background-color: black;
  color: white;
  width: 100vw;
}


.carousel-container {
  height: 500rem;
  background-color: black;
  position: relative;
}

.carousel-inner {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-items {
  display: flex;
  gap: 5rem;
}

.card {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: hidden;
}

.card-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}



.card-content {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-content: center;
}

.test {
  height: 200vh;
  background-color: white;
}

.christmas-card{
  height: 700px;
  width: 700px;
}

.train-card{
  width: 1400px;
  height: 800px;
}

.street-card{
  height: 800px;
}

.sink-card{
  height: 800px;
}

.horns-card{
  height: 850px;
}

.mira-card{
  height: 800px;
}

.jasper-card{

}

.falling-card{

}

.shy-card{
  height: 800px;
}

.hello-text{
  width: 500px;
}